<h1 class="text-3xl p-3">
  Aloha
</h1>
<div>
  camera dimensions: {{videoDimensions.w}} x {{videoDimensions.h}}
</div>
<div class="two-columns-grid">
  <!--  row 1 -->
  <div class="p-3 mat-app-background">
    <mat-form-field>
      <mat-label>Select a face</mat-label>
      <mat-select class="b-3" place #faceSelector>
        <mat-option *ngFor="let face of faces" [value]="face">{{face}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="selectedFace === '' || detecting" [ngxAsyncClick]="chooseFace.bind(this)" aria-label="Submit">retry</button>
  </div>
  <div class="p-3 mat-app-background">
    <!--    <mat-icon matSuffix color="green" class="bold text-3xl" style="float: right;" [hidden]="!matched || detecting" #nomatch>check</mat-icon>-->
    <!--    <mat-icon matSuffix color="green" class="bold text-3xl" style="float: right;" [hidden]="matched || !chosen || detecting">sentiment_very_dissatisfied</mat-icon>-->
    <ng-container *ngIf="!matched && chosen && !detecting">
      <div class="bold text-3xl" style="float: right;">Fail</div>
    </ng-container>
    <ng-container *ngIf="!detecting && matched">
      <div class="bold text-3xl" style="float: right; grid-column: 1 / 3; color: lawngreen">Success!</div>
    </ng-container>
  </div>
</div>
<div class="two-columns-grid">

  <!--  row 2 -->
  <div class="p-3 mat-app-background">
    <img src="/spacer.gif" ngModel #faceHolder width="320px" height="auto" class="border">
  </div>
  <div class="p-3 mat-app-background" style="grid-column: 2 / 3;">
    <img #photo src="/spacer.gif" width="320px" height="auto" [hidden]="!detected && detecting" class="border">
    <app-spinner [hidden]="!detecting"></app-spinner>
  </div>

  <!--  row 3 -->
  <div style="grid-column: 1 / 3;">
    <video playsinline class="col-11 col-lg-8 border" id="video" #video [hidden]="!detecting"></video>
  </div>

</div>
<div #facesDisplay></div>
<!--<div class="text-xl">✅</div>-->
<!--<div class="p-3 w-full">-->
<!--    <p class="message">Emotion: {{message}}</p>-->
<!--    <p class="message blue">Age: {{age}} </p>-->
<!--    <p class="message orange">Gender: {{gender}}</p>-->
<!--    <p class="message pink">Gender Confidence: {{ageProb}}</p>-->
<!--</div>-->

<router-outlet />
